body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
  font-size: 55%;
}
.page-header {
  margin: 20px 0 20px;
}
.help-block {
  margin-bottom: 0;
}
.img-center {
  margin: 0 auto;
}
.panel {
	border: 2px solid transparent;
  border-radius: 5px;
}
.panel-blue {
	border-width: 2px;
  border-color: #145B98;
}
.panel-green {
	border-width: 2px;
  border-color: #3D993D;
}
.panel-yellow {
	border-width: 2px;
  border-color: #D18E2F;
}
.panel-red {
	border-width: 2px;
  border-color: #ba3430;
}
.panel-blue > .panel-heading {
  border-color: #337ab7;
  color: #fff;
  background-color: #337ab7;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
.huge {
  font-size: 40px;
  line-height: normal;
}
